app/src/Tragwerk/Domain/Config/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <!-- ============================================================ -->
    <!-- Root Element                                                 -->
    <!-- ============================================================ -->
    <xs:element name="project">
        <xs:annotation>
            <xs:documentation>
                Root configuration for a hosted project. Defines applications,
                backing services, and routing rules.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="applications" type="ApplicationsType"/>
                <xs:element name="services"     type="ServicesType"     minOccurs="0"/>
                <xs:element name="routes"       type="RoutesType"/>
            </xs:all>
        </xs:complexType>

        <xs:unique name="uniqueApplicationName">
            <xs:selector xpath="applications/application"/>
            <xs:field xpath="@name"/>
        </xs:unique>
        <xs:unique name="uniqueServiceName">
            <xs:selector xpath="services/service"/>
            <xs:field xpath="@name"/>
        </xs:unique>
    </xs:element>

    <!-- ============================================================ -->
    <!-- Applications                                                 -->
    <!-- ============================================================ -->
    <xs:complexType name="ApplicationsType">
        <xs:sequence>
            <xs:element name="application" type="ApplicationType" maxOccurs="unbounded">
                <xs:unique name="uniqueMountName">
                    <xs:selector xpath="mounts/mount"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
                <xs:unique name="uniqueRelationshipName">
                    <xs:selector xpath="relationships/relationship"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
                <xs:unique name="uniqueHookType">
                    <xs:selector xpath="hooks/hook"/>
                    <xs:field xpath="@type"/>
                </xs:unique>
                <xs:unique name="uniqueWorkerName">
                    <xs:selector xpath="workers/worker"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
                <xs:unique name="uniqueCronName">
                    <xs:selector xpath="crons/cron"/>
                    <xs:field xpath="@name"/>
                </xs:unique>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ApplicationType">
        <xs:annotation>
            <xs:documentation>
                A single application within the project, e.g., a PHP web app.
            </xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="web"           type="WebType"/>
            <xs:element name="extensions"    type="ExtensionsType"     minOccurs="0"/>
            <xs:element name="workerMode"    type="WorkerModeType"     minOccurs="0"/>
            <xs:element name="workers"       type="WorkersType"        minOccurs="0"/>
            <xs:element name="crons"         type="CronsType"          minOccurs="0"/>
            <xs:element name="hooks"         type="HooksType"          minOccurs="0"/>
            <xs:element name="mounts"        type="MountsType"         minOccurs="0"/>
            <xs:element name="relationships" type="RelationshipsType"  minOccurs="0"/>
        </xs:all>
        <xs:attribute name="name" type="IdentifierType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Human-readable name of the application. Must be unique within
                    the project.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="type" type="ApplicationRuntimeType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Runtime image, e.g. "php:8.3" or "php:8.4".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="root" type="xs:string" default="/">
            <xs:annotation>
                <xs:documentation>
                    Path within the repository that contains this application's
                    source code. Defaults to the repo root.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- PHP Extensions                                               -->
    <!-- ============================================================ -->
    <xs:complexType name="ExtensionsType">
        <xs:annotation>
            <xs:documentation>
                PHP extensions to install in the container image. Each extension
                is installed via docker-php-ext-install; required system packages
                (e.g. libicu-dev for intl) are resolved automatically.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="extension" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>
                                PHP extension name as accepted by docker-php-ext-install,
                                e.g. "intl", "gettext", "sockets", "pdo_pgsql", "gd".
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Background Workers                                           -->
    <!-- ============================================================ -->
    <xs:complexType name="WorkersType">
        <xs:annotation>
            <xs:documentation>
                Background worker processes: isolated containers that share the
                application image but run a long-lived command instead of
                serving HTTP traffic (e.g. queue consumers, metric samplers).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="worker" type="WorkerDefinitionType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WorkerDefinitionType">
        <xs:attribute name="name" type="IdentifierType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique name for this worker within the application. Used to
                    derive the Docker service name, e.g. "queue" →
                    "{app}-worker-queue".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="command" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The command the container runs, e.g.
                    "bin/cli worker:start default".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Cron Jobs                                                    -->
    <!-- ============================================================ -->
    <xs:complexType name="CronsType">
        <xs:annotation>
            <xs:documentation>
                Scheduled commands: an isolated sidecar container shares the
                application image and runs supercronic, which executes each
                command on its crontab schedule (e.g. nightly cleanup, periodic
                imports).
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="cron" type="CronDefinitionType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CronDefinitionType">
        <xs:attribute name="name" type="IdentifierType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Unique name for this cron job within the application. Used as
                    a log label in the cron sidecar.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="command" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    The command to run on schedule, e.g.
                    "bin/cli app:cleanup". Runs from the application root (/app).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="schedule" type="CrontimeType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Crontab schedule expression, e.g. "0 2 * * *" (daily at
                    02:00). Standard 5-field cron syntax; descriptors like
                    "@hourly" or "@daily" are also accepted.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Worker                                                       -->
    <!-- ============================================================ -->
    <xs:complexType name="WorkerModeType">
        <xs:annotation>
            <xs:documentation>
                Run the application in FrankenPHP worker mode: the front controller
                is bootstrapped once and kept warm between requests, instead of the
                default per-request model. The application must ship a worker-safe
                front controller; the worker script is derived from the &lt;web&gt;
                location that declares a passthru (exactly one is required).
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="count" type="xs:positiveInteger">
            <xs:annotation>
                <xs:documentation>
                    Number of worker threads. Defaults to FrankenPHP's automatic
                    sizing (roughly 2x the CPU cores). Set explicitly on shared
                    hosts to avoid oversubscription.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="max-requests" type="xs:nonNegativeInteger" default="0">
            <xs:annotation>
                <xs:documentation>
                    Restart each worker after handling this many requests, to
                    mitigate memory leaks in long-running processes. 0 (the default)
                    means unlimited.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Web                                                          -->
    <!-- ============================================================ -->
    <xs:complexType name="WebType">
        <xs:sequence>
            <xs:element name="location" type="LocationType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LocationType">
        <xs:attribute name="path"     type="xs:string" use="required"/>
        <xs:attribute name="root"     type="xs:string" use="required"/>
        <xs:attribute name="index"    type="xs:string" default="index.php"/>
        <xs:attribute name="passthru" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    PHP front controller to pass non-static requests to, e.g.
                    "/index.php". Omitting this attribute or setting it to "none"
                    serves only static files via file_server (no PHP).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Hooks                                                        -->
    <!-- ============================================================ -->
    <xs:complexType name="HooksType">
        <xs:sequence>
            <xs:element name="hook" type="HookType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HookType">
        <xs:annotation>
            <xs:documentation>
                Shell script executed at a specific point in the deployment
                lifecycle. Use CDATA for multi-line scripts.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="build">
                                <xs:annotation>
                                    <xs:documentation>
                                        Runs during image build. Network access is available,
                                        write access to the application directory.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="deploy">
                                <xs:annotation>
                                    <xs:documentation>
                                        Runs after the container starts but before traffic
                                        is routed. Application directory is read-only,
                                        mounts are writable.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="post_deploy">
                                <xs:annotation>
                                    <xs:documentation>
                                        Runs after traffic is being served. Useful for
                                        cache warming or non-blocking tasks.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Mounts                                                       -->
    <!-- ============================================================ -->
    <xs:complexType name="MountsType">
        <xs:sequence>
            <xs:element name="mount" type="MountType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MountType">
        <xs:attribute name="name" type="IdentifierType" use="required"/>
        <xs:attribute name="source" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="local">
                        <xs:annotation>
                            <xs:documentation>Local disk volume on the host.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="service">
                        <xs:annotation>
                            <xs:documentation>Shared object storage service.</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="path" type="xs:string" use="required"/>
        <xs:attribute name="clone-from-parent" type="xs:boolean" default="true">
            <xs:annotation>
                <xs:documentation>
                    When creating a new branch environment, copy the contents of
                    this mount from the parent environment.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Relationships                                                -->
    <!-- ============================================================ -->
    <xs:complexType name="RelationshipsType">
        <xs:sequence>
            <xs:element name="relationship" type="RelationshipType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RelationshipType">
        <xs:annotation>
            <xs:documentation>
                Wires this application to a backing service. The service's
                connection details will be injected as environment variables.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="IdentifierType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Logical name of the relationship, used to derive the env var
                    name (e.g. "database" → DATABASE_URL).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="target" type="IdentifierType" use="required">
            <xs:annotation>
                <xs:documentation>
                    Name of the service to connect to. Must match a service
                    defined under &lt;services&gt;.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Services                                                     -->
    <!-- ============================================================ -->
    <xs:complexType name="ServicesType">
        <xs:sequence>
            <xs:element name="service" type="ServiceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServiceType">
        <xs:attribute name="name" type="IdentifierType" use="required"/>
        <xs:attribute name="type" type="ServiceRuntimeType" use="required"/>
        <xs:attribute name="disk" type="xs:positiveInteger" default="512">
            <xs:annotation>
                <xs:documentation>
                    Allocated disk size in MB. Only applies to stateful services.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Routes                                                       -->
    <!-- ============================================================ -->
    <xs:complexType name="RoutesType">
        <xs:sequence>
            <xs:element name="route" type="RouteType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RouteType">
        <xs:attribute name="pattern" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    URL pattern. Named placeholders like {default}, {frontend} or
                    {api} are replaced at build time with the domains assigned to
                    that placeholder in the project's domain settings.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="upstream" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>
                    Target application in the form "name:endpoint", e.g. "app:http".
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <!-- ============================================================ -->
    <!-- Reusable Simple Types                                        -->
    <!-- ============================================================ -->
    <xs:simpleType name="IdentifierType">
        <xs:annotation>
            <xs:documentation>
                A symbolic identifier: letters, digits, spaces, hyphens, underscores.
                Used for names that may appear in container names, env vars,
                and DNS labels.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z][a-zA-Z0-9 _-]*"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CrontimeType">
        <xs:annotation>
            <xs:documentation>
                A crontab schedule: either a standard 5-field expression
                (minute hour day-of-month month day-of-week) or a descriptor
                such as @yearly, @annually, @monthly, @weekly, @daily,
                @midnight, @hourly, or @every 1h30m.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(@(yearly|annually|monthly|weekly|daily|midnight|hourly))|(@every (\d+(ns|us|ms|s|m|h))+)|([^ ]+ [^ ]+ [^ ]+ [^ ]+ [^ ]+)"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ApplicationRuntimeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="php:8.2"/>
            <xs:enumeration value="php:8.3"/>
            <xs:enumeration value="php:8.4"/>
            <xs:enumeration value="php:8.5"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ServiceRuntimeType">
        <xs:restriction base="xs:string">
            <!-- Databases -->
            <xs:enumeration value="mariadb:10.6"/>
            <xs:enumeration value="mariadb:10.11"/>
            <xs:enumeration value="mariadb:11.4"/>
            <xs:enumeration value="mariadb:11.8"/>
            <xs:enumeration value="mysql:8"/>
            <xs:enumeration value="postgresql:14"/>
            <xs:enumeration value="postgresql:15"/>
            <xs:enumeration value="postgresql:16"/>
            <xs:enumeration value="postgresql:17"/>
            <xs:enumeration value="postgresql:18"/>
            <!-- Caches / Queues -->
            <xs:enumeration value="redis:6"/>
            <xs:enumeration value="redis:7"/>
            <xs:enumeration value="redis:8"/>
            <xs:enumeration value="valkey:8"/>
            <xs:enumeration value="valkey:9"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>